{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<br><br><br><br>

<div class="page-header">


    <h1 align="center">Hello! Welcome to Buy Rare Breeds!</h1>
    <br>
    <h2 align="center">Welcome to Buy Rare Breeds On this site you can make posts on various breed boards, comment on others posts, and view user profiles. If you are a breeder you can make new breeds aswell. Don't forget to check out the "Breeder List" page to find local Breeders nearest you!
        </h2>

</div>

{% endblock %}
